<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.saboorhussain.project">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application>
        <activity
            android:name=".View.LoginActivity"
            android:label="@string/title_activity_login"></activity>
    </application>
</manifest>
